

	body{
	margin: 0;
	padding: 0;
	background-color: white;
	}

	h2{
		font-family: Helvetica, Arial;
		font-size: 40px;
		text-align: center;
		padding: 40px;
		font-variant: small-caps;
	}

	ul{
		font-family: Helvetica, Arial;
		font-size: 20px;
	}


	li{
		float: right;
		padding: 20px;
		margin: 1px;
	}

	.header {
	  padding: 70px;
	  text-align: center;
	  background: #353535;
	  color: white;
	  font-family: Helvetica, Arial;
	  font-size: 35px;
	  font-variant: small-caps;
	}


	.servicos {
		font-family:Helvetica, Arial;
		font-size: 30px;
		margin: auto;
	}

	.projetos {
		background: #474747;
		color: white;
	}

	.sobre {
		font-family:Helvetica, Arial;

		
	}

	.contato {
		font-family:Helvetica, Arial;
		font-size: 30px;
		margin: auto;
		background: #353535;
		color: white;
	}




}
