@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

.home {
    font-size: 450% !important;
    font-family: 'Roboto', sans-serif !important;
    color: #ffffff !important;
    letter-spacing: 0 !important;
    line-height: 110% !important;
}

.home2 {
    font-size: 50px !important;
    font-family: 'Roboto', sans-serif !important;
    color: #000000 !important;
    letter-spacing: 0 !important;
}

.background2 {
    background-color: #ffffff;
}

.flex2 {
    background-color: #747474;
}

.flex3 {
    background-color: #ffffff;
}