.background2 {
    background-color: #ffffff;
}

.flex2 {
    background-color: #747474;
}

.upper-line {
    background-color: #ffffff;
}

.folder {
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url("../../assets/images/business-pexels-photo-7691709.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
}

.folder2 {
    background-color: #000000;
}

.alinhar{
    align-items: "baseline";
}