.background2 {
    background-color: #ffffff;
}

.flex2 {
    background-color: #747474;
}

.upper-line {
    background-color: #ffffff;
}

.folder {
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url("../../assets/images/business-pexels-photo-7691709.jpeg");
    background-attachment: fixed;
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
}

.folder2 {
    background-color: #aca4a4;
    background-repeat: no-repeat;
    background-size: cover;
}

.alinhar{
    align-items: "baseline";
}

.text-decorator-none{
    text-decoration: none;
}