.background {
    background-color: #000000;
}

/* .logo img {
    size: 100px!important;
} */

.contato {
    color: #ffffff;
    margin-left: 200px;
}

.downer {
    background-color: #ffffff;
    margin-left: 200px;
}