.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* Arrow Navigation */
.swiper-button-prev {
    color: white;
}

.swiper-button-next {
    color: white;
}

/* Background Image */
.bg1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('../../../assets/images/home-pexels-photo-443383.jpg');
}

.bg2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('../../../assets/images/home-pexels-fauxels-3184357.jpg');
}

.bg3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('../../../assets/images/pexels-thisisengineering-3861969.jpg');
}