body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  @font-face {
  font-family: "AllianceNo2-Light";
  src: url('fonts/webFonts/AllianceNo2Light/font.woff2') format('woff2'), url('fonts/webFonts/AllianceNo2Light/font.woff') format('woff');
}

.AllianceNo2Light {
	font-family: "AllianceNo2-Light";
}
	
h1, h2, h3, h4, h5, h6 {
	font-family: "AllianceNo2-Light",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif!important;
}